<div class="paneSection paneSection__root">
  <h1>Layout Settings</h1>

  <div class="pageStylesControl fg">
    <h2>Page Sections</h2>
  </div>
  <div class="sectionStylesContainer">

    <!-- section -->
    <div class="sectionStyle" data-section="head">
      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Page Header</h2>
        <i class="dropdownIndicator">ellipsis</i>
        <div class="fg sectionStyleHead__controls">
          <i class="deleteSection">delete</i>
          <i class="openSectionSettings">settings</i>
        </div>
      </div>
    </div>

    <!-- section -->
    <div class="sectionStyle" data-section="hero">
      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Hero Background</h2>
        <i class="dropdownIndicator">ellipsis</i>
        <div class="fg sectionStyleHead__controls">
          <i class="deleteSection">delete</i>
          <i class="openSectionSettings">settings</i>
        </div>
      </div>
    </div>

    <!-- section -->
    <div class="sectionStyle" data-section="countdown">
      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Registration Countdown</h2>
        <i class="dropdownIndicator">ellipsis</i>
        <div class="fg sectionStyleHead__controls">
          <i class="deleteSection">delete</i>
          <i class="openSectionSettings">settings</i>
        </div>
      </div>
    </div>

    <!-- section -->
    <div class="sectionStyle" data-section="footer">
      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Footer</h2>
        <i class="dropdownIndicator">ellipsis</i>
        <div class="fg sectionStyleHead__controls">
          <i class="deleteSection">delete</i>
          <i class="openSectionSettings">settings</i>
        </div>
      </div>
    </div>

    <div class="addSection fg"><i>add_circle</i><span>Add a Section</span></div>
  </div>
</div>

{% include settingsPane.html %}
